/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
  font-family: 'ForkAwesome';
  src: url('../fonts/forkawesome-webfont.eot?v=1.1.7');
  src: url('../fonts/forkawesome-webfont.eot?#iefix&v=1.1.7') format('embedded-opentype'), url('../fonts/forkawesome-webfont.woff2?v=1.1.7') format('woff2'), url('../fonts/forkawesome-webfont.woff?v=1.1.7') format('woff'), url('../fonts/forkawesome-webfont.ttf?v=1.1.7') format('truetype'), url('../fonts/forkawesome-webfont.svg?v=1.1.7#forkawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

body {
  padding-top: 4rem;
  font-family: "Helvetica Neue","Arial",sans-serif !important;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #1d1d1f;
  background-color: #f0f2ef;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: "Helvetica Neue","Arial",sans-serif;
  letter-spacing: normal;
  font-style: normal;
}

h1 {
  margin-bottom: 32px;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 4rem;
  text-align: center;
}

h2 {
  margin-bottom: 12px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.3rem;
  margin-bottom: 47px;
  margin-top: 30px;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.3rem;
  margin-bottom: 20px;
  margin-top: 10px;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.35rem;
  margin: 0;
}

p {
  font-family: "SourceSansPro","Helvetica Neue","Arial",sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: normal;
  font-style: normal;
}

a {
  color: #1d1d1f;
  text-decoration: underline;
}

a:hover {
  color: #004ecb;
  text-decoration: underline;
}

main {
    flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  margin-top: 4.2em;
  color: #fff;
  background-color: #1d1d1f;
  padding: 1em;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer hr {
  background-color: rgba(255,255,255,0.4);
}

small {
    font-size: 0.9rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid rgba(0,0,0,.1);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.expose-title {
  background-color: black;
  color: #fff;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-nav-lang {
  padding: 10px 5px 10px 5px;
}

.custom-nav-item, .nav-link {
  color: #1d1d1f !important;
  border-bottom: 1px solid transparent;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.custom-nav-item {
  border-bottom: 3px solid transparent;
  border-bottom-color: transparent;
}

.custom-nav-item:hover {
  border-bottom: 3px solid transparent;
  border-bottom-color: #1d1d1f !important;
}

.menu {
  background-color: #fff;
  padding: .0rem 1rem;
  border-bottom: 1px solid #E0E0E0;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0 !important;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.lead-text {
  font-family: "Times New Roman","Times",serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: normal;
  font-style: normal;
  text-align: center;
}

.btn-altertek {
    color: #fff;
    background-color: #0F67FF;
    border-color: #0F67FF;
}

.btn-altertek:hover {
    color: #fff;
    background-color: #004ecb;
    border-color: #004ecb;
}

.highlight {
  min-height: 27rem;
  display: block;
  position: relative;
  width: 100%;

  background-color: #90caf9;
}

.footer-logo {
    height: 5rem;
}

.row-highlight {
    min-height: 27rem;
}

.ref-logo {
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


.card-title {
    margin-bottom: .2rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.big-divider {
   margin: 2.5rem 0 !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .menu {
      height: 70px;
  }
}

/* menu element
-------------------------------------------------- */

.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
