
<footer>
<div class="container">
<p class="text-center">{{ site[locale].footer.donationReminder }}</p>


  <hr/>
  <div class="row">
     <div class="col-sm-2 text-center">
       <img class="footer-logo" src="/assets/images/logo-200x200.png" alt="Altertek logo">
     </div>
     <div class="col-sm-10">
       <p><strong>{{ site[locale].footer.ourMission }}</strong></p>
       <p>{{ site[locale].footer.ourMissionDesc }}</p>
    </div>
  </div>

  <hr/>

  <div class="row">
     <div class="col-sm-10">
     <p>
          <a href="https://status.altertek.org" rel="noopener noreferrer">Status</a>
        | <a href="https://docs.altertek.org">Documentation</a>
        | <a href="/{{ locale }}/contact/">{{ site[locale].contact }}</a>
        | <a href="/{{ locale }}/legals/">{{ site[locale].legals }}</a>
        | <a href="/{{ locale }}/terms-conditions/">{{ site[locale].terms }}</a>
        | <a href="/{{ locale }}/credits/">{{ site[locale].credits }}</a>
        | <a href="https://github.com/altertek/altertek.org" rel="noopener noreferrer" target="_blank">{{ site[locale].modify }}</a>
  </p>
    </div>
    <div class="col-sm-2 text-center">
    <p class="text-center">
      <a href="{{ site.networks.mastodon }}" aria-label="mastodon" rel="noopener noreferrer" target="_blank">Mastodon</a>,
      <a href="{{ site.networks.twitter }}" aria-label="twitter" rel="noopener noreferrer" target="_blank">Twitter</a>,
      <a href="{{ site.networks.github }}" aria-label="github" rel="noopener noreferrer" target="_blank">Github</a>
      <a href="{{ site.networks.peertube }}" aria-label="peertube" rel="noopener noreferrer" target="_blank">Peertube</a>
    </p>
    </div>
  </div>
<br/>

 <div class="row">
  <div class="col-sm-10">
<p>Build with the <a href="https://www.sustainablewebmanifesto.com/" rel="noopener noreferrer" target="_blank">Sustainable Web Manifesto</a> principles  &middot; content under <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="noopener noreferrer" target="_blank">Creative Commons BY-SA</a>.</p>

 </div>
 </div>



  <p class="float-right"><a href="#" aria-label="ancor"><i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i></a></p>
  <small><i>{{ site[locale].footer.siteCommitment }}</i></small>

</div>

</footer>
